:root {
  --turquoise: #519694;
  --green: #294C4B;
  --white: #FFFFFF;
  --black: #000000;
  --darkgreen: #1B3332;
  --lightgreen: #B3F5F3;
}

html {
  scroll-behavior: smooth;
}

.turquoiseBackgroundColor {
  background-color: var(--turquoise);
}

.blackBackgroundColor {
  background-color: var(--black);
}

#root {
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: var(--black);
  margin: 0;
}

h1,
.subtitle {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  font-family: 'Permanent Marker', sans-serif;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 16px 0px;
  font-family: 'Permanent marker';
  text-align: center;
  color: var(--white);
}

h3 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: 500;
  color: var(--white);
}

.container {
  padding: 20px;
  position: relative;
}

.button {
  padding: 6px 11px;
  border: 2px solid var(--green);
  border-radius: 30px;
  background-color: var(--turquoise);
  color: var(--green);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
  filter: drop-shadow(2px 6px 6px rgba(0, 0, 0, 0.5))
}

.button:hover {
  background-color: var(--green);
  color: var(--turquoise);
  border-color: var(--darkgreen);
}

.tag {
  padding: 3px 12px;
  background-color: var(--lightgreen);
  border: 1px solid var(--green);
  border-radius: 15px;
  margin-right: 3px;
}

.wave {
  position: absolute;
  width: 100vw;
  left: 0;
}

.waveup {
  bottom: -2px;
}

.wavedown {
  top: 0px;
}


/* HEADER AND MENU */
.headerDesktop {
  display: none;
}

.header {
  height: 36px;
  width: 100%;
  background-color: var(--black);
  position: fixed;
  z-index: 1000;
}

.header .hamburgerIcon {
  height: 20px;
  float: right;
  margin-top: 9px;
  margin-right: 9px;
  cursor: pointer;
}

.menu {
  background-color: var(--green);
  color: var(--turquoise);
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.menu svg {
  position: absolute;
  top: 6px;
  right: 6px;
}

.menu .menuIcon {
  width: 25px;
  height: 25px;
}

.menu .menuContent {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.menu .menuContent li {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  margin: 0px 0px 16px 0px;

}

.menu .menuContent li a {
    color: var(--turquoise);
    text-decoration: none;
}

.menu .menuContent li:nth-child(6) {
  margin-bottom: 30px;
}

.menu .iconSection a:first-child {
  margin-right: 20px;
}



/* HERO */
.hero {
  background-image: url('../assets/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 250px;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.hero .heroContent {
  text-align: center;
  width: 61%;
}

.hero .heroContent img {
  width: 70px;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgb(255 255 255 / 0.4);
}


/* STACK SECTION */
.stackContainer {
  padding-bottom: 71px;
}

.stackSection {
  padding: 30px 25px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
  column-gap: 30px;
  box-sizing: border-box;
}

.stackSection .card {
  width: 43%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
}

.stackSection .card img {
  height: 20px;
  margin-right: 8px;
}

.stackSection .card p {
  color: var(--turquoise);
  margin: 0;
}



/* PROJECT SECTION */

.projectContainer {
  padding-bottom: 35px;
}

.projectContainer .projectCard:not(.projectCard:last-child) {
  margin-bottom: 60px;
}

.projectContainer .projectCard img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 12px;
}

.projectContainer .projectCard .description {
  margin: 20px 0px;
}

.projectContainer .projectCard .buttonContainer {
  margin: 0px auto;
  width: fit-content;
}

.projectContainer .projectCard .buttonContainer a:first-child {
  margin-right: 16px;
}
 

/* EXPERIENCE SECTION */
.experienceContainer {
  padding-top: 70px;
  color: var(--white);
}

.workExperience,
.education li {
  margin-bottom: 16px;
}

.workExperience > ul,
.education ul {
  padding-left: 16px;
}

.workExperience p {
  margin: 0px 0px 1px 0px;
}

.workExperience .time,
.education .time {
  font-style: italic;
}

.workExperience .titleResponsibility,
.workExperience .marginWorkDescription {
  margin-top: 5px;
  display: block;
}

.workExperience .responsibilityList {
  margin: 0px;
  padding-left: 20px;
}

.education {
  margin-top: 30px;
}

.education .landscapeOrientation {
  width: 100%;
  margin-top: 30px;
  border-radius: 7px;
}

.education .portraitOrientation {
  display: none;
  border-radius: 7px;
}



/* CV */
.CVcontainer {
  padding-top: 30px;
}

.CVcontainer > section {
  padding: 20px 0px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0px 0px 8px 4px rgba(255, 255, 255, 0.5);
}

.CVcontainer > section p {
  font-family: 'Permanent Marker', sans-serif;
  font-size: 14px;
  color: var(--white);
  margin: 0px 0px 16px 0px;
}

.CVcontainer .buttonSection {
  display: flex;
  justify-content: center;
}

.CVcontainer .buttonSection > a {
  width: 70px;
}

.CVcontainer .buttonSection > a:first-child {
  margin-right: 10px;
} 


/* ABOUT */
.aboutContainer {
  color: var(--white);
  padding-bottom: 70px;
}

/* .aboutContainer svg {
  bottom: -1px;
} */



/* CONTACT */
.contactSection {
  width: 200px;
  margin: 0 auto;
}

.contactSection img {
  height: 18px;
  margin-right: 12px;
}

.contactSection .contactItem {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.contactSection .contactItem a,
.contactSection .contactItem span {
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
}

.contactSection .contactItem a:hover {
  text-decoration: underline;
}

.contactContainer hr {
  border: none;
  border-top: 1px solid var(--green);
  width: 75%;
}

.contactContainer .copyright {
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  margin: 20px 0px 0px 0px;
}






