:root {
  --turquoise: #519694;
  --green: #294C4B;
  --white: #FFFFFF;
  --black: #000000;
  --darkgreen: #1B3332;
}

#root {
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: var(--black);
  margin: 0;
}

h1 {
  font-size: 18px;
  line-height: 22px;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

h3 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: 500;
}

.button {
  padding: 6px 11px;
  border: 2px solid var(--green);
  border-radius: 30px;
  background-color: var(--turquoise);
  color: var(--green);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.button:hover {
  background-color: var(--green);
  color: var(--turquoise);
  border-color: var(--darkgreen);
}

.tag {
  padding: 3px 12px;
  background-color: var(--turquoise);
  border: 1px solid var(--green);
  border-radius: 15px;
}


/* HEADER AND MENU */
.header {
  height: 36px;
  width: 100%;
  background-color: var(--black);
  opacity: 0.7;
  position: fixed;
}

.header .hamburgerIcon {
  height: 20px;
  float: right;
  margin-top: 9px;
  margin-right: 9px;
}

.menu {
  height: 1000px;
  background-color: var(--turquoise);
}

.menu svg {
  float: right;
  margin-top: 6px;
  margin-right: 6px;
}



/* HERO */
.hero {
  background-image: url('../assets/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
}