:root {
  --turquoise: #519694;
  --green: #294C4B;
  --white: #FFFFFF;
  --black: #000000;
  --darkgreen: #1B3332;
}

.turquoiseBackgroundColor {
  background-color: var(--turquoise);
}

.blackBackgroundColor {
  background-color: var(--black);
}

#root {
  position: relative;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  color: var(--black);
  margin: 0;
}

h1,
.subtitle {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--white);
  margin: 0;
  font-family: 'Permanent Marker', sans-serif;
}

h2 {
  font-size: 16px;
  line-height: 20px;
  margin: 0px 0px 16px 0px;
  font-family: 'Permanent marker';
  text-align: center;
  color: var(--white);
}

h3 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  text-decoration: underline;
  font-weight: 500;
}

.container {
  padding: 20px 20px 71px 20px;
  position: relative;
}

.button {
  padding: 6px 11px;
  border: 2px solid var(--green);
  border-radius: 30px;
  background-color: var(--turquoise);
  color: var(--green);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.button:hover {
  background-color: var(--green);
  color: var(--turquoise);
  border-color: var(--darkgreen);
}

.tag {
  padding: 3px 12px;
  background-color: var(--turquoise);
  border: 1px solid var(--green);
  border-radius: 15px;
}


/* HEADER AND MENU */
.header {
  height: 36px;
  width: 100%;
  background-color: var(--black);
  opacity: 0.7;
  position: fixed;
}

.header .hamburgerIcon {
  height: 20px;
  float: right;
  margin-top: 9px;
  margin-right: 9px;
}

.menu {
  background-color: var(--green);
  color: var(--turquoise);
  height: 100vh;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu svg {
  position: absolute;
  top: 6px;
  right: 6px;
}

.menu .menuIcon {
  width: 25px;
  height: 25px;
}

.menu .menuContent {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

.menu .menuContent li {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
  margin: 0px 0px 16px 0px;

}

.menu .menuContent li a {
    color: var(--turquoise);
    text-decoration: none;
}

.menu .menuContent li:nth-child(6) {
  margin-bottom: 30px;
}

.menu .iconSection a:first-child {
  margin-right: 20px;
}



/* HERO */
.hero {
  background-image: url('../assets/hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}

.hero .heroContent {
  text-align: center;
  width: 61%;
}

.hero .heroContent img {
  width: 70px;
  border-radius: 10px;
  box-shadow: 0 3px 20px rgb(255 255 255 / 0.4);
}


/* STACK SECTION */
.stackContainer {
  padding: 30px 25px;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 30px;
}

.stackContainer .card {
  width: 138px;
/*   margin-top: 30px; */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0px;
}

.stackContainer .card img {
  height: 20px;
  margin-right: 8 px;
}

.stackContainer .card p {
  color: var(--turquoise);
  margin: 0;
}


.waveup {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100vw;
}
