@media screen and (min-width: 960px) {
    :root {
        --turquoise: #519694;
        --green: #294C4B;
        --white: #FFFFFF;
        --black: #000000;
        --darkgreen: #1B3332;
        --lightgreen: #B3F5F3;
    }

    body {
        font-size: 20px;
    }


    h1,
    .subtitle {
        font-size: 42px;
        line-height: 60px;
    } 
    
    h2 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 60px;
    } 
    
    h3 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 24px;
        margin-bottom: 20px;
        text-decoration: underline;
        font-weight: 500;
    }

    .container {
        padding: 107px 60px 107px 60px;
    }

    .innerContainer {
        max-width: 1145px;
        margin: 0 auto;
    }




    /* HEADER AND MENU */
    .headerMobile {
        display: none;
      }
  
    .headerDesktop {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .leftSection {
        margin-left: 108px;
    }
    
    .rightSection {
        margin-right: 108px;
    }

    .headerDesktop .menuItem {
        color: var(--white);
        font-size: 16px;
        text-decoration: none;
        margin-right: 60px;
    }

    .headerDesktop .menuIcon {
        width: 30px;
        height: 30px;
    }

    .headerDesktop .menuIcon:first-child {
        margin-right: 15px;
    }


    /* HERO */
    .hero {
        height: 650px;
    }

    .hero .heroContent {
        margin-top: 99px;
    }

    .hero .heroContent img {
        width: 200px;
    }



    /* STACK */
    .stackSection {
        padding: 53px 80px;
        row-gap: 30px;
        column-gap: 40px;
    }

    .stackSection .card {
        width: 28%;
        height: 50px;
        padding: 8px 0px;
      }

    .stackSection .card img {
        height: 25px;
    }

    .stackSection .card p {
        font-size: 20px;
    }


    
  }