
/* MENU */
@media (min-width: 960px) and (max-width: 1100px){
    .headerDesktop .menuItem {
        font-size: 16px;
        margin-right: 40px;
    }

    .leftSection {
        margin-left: 60px;
    }
    
    .rightSection {
        margin-right: 60px;
    }
}

/* ----------------------------------------------------------------- */


/* STACK SECTION WAVE */
@media (min-width: 430px) and (max-width: 550px) {
    .stackContainer {
        padding-bottom: 100px;
    }
}

@media (min-width: 550px) and (max-width: 690px) {
    .stackContainer {
        padding-bottom: 130px;
    }
}

@media (min-width: 690px) and (max-width: 960px) {
    .stackContainer {
        padding-bottom: 150px;
    }
}

@media (min-width: 960px) and (max-width: 1300px) {
    .stackContainer {
        padding-bottom: 200px;
    }
}

@media (min-width: 1300px) and (max-width: 1700px) {
    .stackContainer {
        padding-bottom: 280px;
    }
}

@media (min-width: 1700px) {
    .stackContainer {
        padding-bottom: 310px;
    }
}


/* ----------------------------------------------------------------- */

/* PROJECT SECTION IMAGES */
@media (min-width: 530px) {
    .projectContainer .projectCard img {
        margin-bottom: 40px;
    }

    @media (min-width: 690px) and (max-width: 960px) {
        .projectContainer .projectCard {
            justify-content: center;
            gap: 30px;
        }
    }
}




/* ----------------------------------------------------------------- */

/* EDUCATION SECTION WAVE */
@media (min-width: 540px) {
    .experienceContainer {
        padding-top: 110px;
    }
}

@media (min-width: 690px) {
    .experienceContainer {
        padding-top: 170px;
    }
}


@media (min-width: 960px) {
    .experienceContainer {
        padding-top: 258px;
    }
}

@media (min-width: 1500px) {
    .experienceContainer {
        padding-top: 290px;
    }
}


/* ----------------------------------------------------------------- */

/* EXPERIENCE SECTION IMAGE */
@media (min-width: 530px) and (max-width: 690px){
    .education .landscapeOrientation  {
        width: 70%;
        display: block;
        margin: 30px auto 0px auto;
    }
}

@media (min-width: 690px) {
    .education .landscapeOrientation  {
        width: 70%;
        display: block;
        margin: 30px auto 0px auto;
    }

    .education .landscapeOrientation {
        display: none;
    }

    .education .portraitOrientation {
        display: block;
        position: unset;
        margin: 200px auto 0px auto;
        width: 90%;
    }
}




/* ----------------------------------------------------------------- */

/* ABOUT SECTION IMAGE */
@media (min-width: 550px) {
    .aboutContainer {
        padding-bottom: 100px;
    }
}

@media (min-width: 690px) {
    .aboutContainer {
        padding-bottom: 150px;
    }
}

@media (min-width: 1050px) {
    .aboutContainer {
        padding-bottom: 200px;
    }
}

@media (min-width: 1200px) {
    .aboutContainer {
        padding-bottom: 300px;
    }
}





/* ----------------------------------------------------------------- */

/* CONTACT SECTION  */
@media (min-width: 550px) {
    .contactContainer .contact {
        display: flex;
        justify-content: center;
    }

    .contactContainer .contact .contactSection:last-child {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

